footer {
    text-align: center;
    padding: 1.5rem 1rem;
    margin-top: 3rem;
    background: rgba(255, 255, 255, 0.06);

}

.course {
    font-size: 0.8rem;
    font-weight: 600;
    opacity: 0.9;
}

.university,
.creator {
    margin-top: 0.3rem;
    font-size: 0.7rem;
    opacity: 0.7;
}

.creator {
    font-style: italic;
}