.movie-list {
    margin-top: 2rem;
}

h2 {
    font-size: 1.5rem;
}

.description {
    color: #bab9b9;
    margin: 0.5rem 0 1.5rem;
}

.card-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

@media (min-width: 768px) {
    .card-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    h2,
    .description {
        text-align: center;
    }
    .card-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}